<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>倒计时界面布局.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FCAE7E361C539D0A00F1E51D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCAE7E4F1C539D0A00F1E51D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCAE7E5A1C539D0A00F1E51D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
